.App {
  /* text-align: center; */
  /* background-color: #36454F;
    color: #ffffff; */
}

body {
  background-color: #36454F !important;
  color: #ffffff !important;
}

.features{
  background-color: #36454F !important;
    color: #ffffff !important;
}

.summary{
    border-color: #ffffff !important;
  }


